@import url(preflight.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  button {
    @apply bg-primary text-white font-bold px-5 py-2 rounded-md;
    transition: 300ms ease-in;
  }
  button:hover {
    transform: scale(1.1);
  }
  .h2 {
    @apply text-[1.3em] leading-tight font-bold uppercase;
  }
}

@layer utilities {
}



/* _____________________________________________________ animations ________________________________________________ */

@keyframes fade-from-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes fade-from-bottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

